*.ipch
*.obj
*.tlog
*.db
*.log
*.lib
*.pdb
*.exp
*.dll
*.ilk
*.idb
*.tlog
*.o

build/
doc/site/
sourcecode/.vs/
sourcecode/.idea/
wrapper/python/build
wrapper/python/src/libVisaDevices.egg-info
release/

